{% include base_path %}
{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<h1>Publications</h1>
<p><b>Journals</b>: </p>
<font size="3"> 
<ul>
<p style="text-indent: -2rem;margin-left: 0rem;">
<span>[01] Wu, Y., <b>Ding, H.</b>, Gong, M., Qin, A.K., Ma, W., Miao, Q. and Tan, K.C.,
“Evolutionary Multiform Optimization with Two-stage Bidirectional Knowledge Transfer Strategy for Point Cloud Registration,” 
<i>IEEE Transactions on Evolutionary Computation (<b>TEVC</b>)</i>, 
pp. 1-15, 2022. 
[<a href= "https://ieeexplore.ieee.org/abstract/document/9925083" target="_blank">Paper</a>] 
[<a href="https://github.com/ywu0912/TeamCode" target="_blank">Code</a>] 
</span>
</p> 
</ul>
</font>
<br />


<p><b>Conferences</b>: </p>
<font size="3"> 
<ul>
<p style="text-indent: -2rem;margin-left: 0rem;">
<span>[01] Wu, Y., <b>Ding, H.</b>, Gong, M., Li, H., Miao, Q. and Ma, W., 
“Evolutionary Multitasking for Coarse-to-Fine Point Cloud Registration with Chaotic Opposition Search Strategy,” 
<i>CAAI International Conference on Artificial Intelligence (<b>ICAI</b>)</i>, 
in Beijing, China, pp. 293-304, 2022.  
[<a href= "https://link.springer.com/chapter/10.1007/978-3-031-20497-5_24" target="_blank">Paper</a>] 
</span>
</p>
</ul>
</font>
<br />
